Package: com.thomz.utrynashutdown
Name: UTrynaShutDown
Depends: mobilesubstrate, preferenceloader
Version: 1.3
Architecture: iphoneos-arm
Description: Prevent people from turning off your phone with a custom message
Maintainer: Thomz, ExoticSwingset
Author: Thomz, ExoticSwingset
Section: Tweaks
Icon: file:///Library/PreferenceBundles/UTrynaShutDown.bundle/icon@2x.png
