<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Note: No respring required. "Show Nothing" option disables alerts all together and makes it so that no alert shows when trying to power down.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enable</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>isEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Show Nothing</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>showNothing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alert Texts</string>
			<key>footerText</key>
			<string>If you just get a Dismiss button after install, enable Dismiss custom text, trigger the alert and disable the Dismiss custom text.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>key</key>
			<string>titleEnabled</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Title Text</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>textOne</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>key</key>
			<string>messageEnabled</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>default</key>
			<true/>

		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Message Text</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>textTwo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>key</key>
			<string>dismissEnabled</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>default</key>
			<false/>

		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Dismiss Text</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>textThree</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Emergency alert</string>
			<key>footerText</key>
			<string>Prevents the emergency SOS power down menu from showing on lockscreen.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Disable the emergency alerts</string>
			<key>key</key>
			<string>emergencyAlert</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developers</string>
			<key>footerText</key>
			<string>If you like our work, pay us a coffee.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Thomz</string>
			<key>sublabel</key>
			<string>@Thomzi07 - u/Thomz07</string>
			<key>action</key>
			<string>paypal</string>
			<key>height</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>ExoticSwingset</string>
			<key>sublabel</key>
			<string>@ExoticSwingset - u/ExoticSwingset</string>
			<key>action</key>
			<string>paypal2</string>
			<key>height</key>
			<integer>80</integer>
		</dict>

	</array>
	<key>title</key>
	<string>UTrynaShutDown</string>
</dict>
</plist>
