<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enable</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>isEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alert Texts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Title Text</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>textOne</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Message Text</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>textTwo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key> 			
			<string>If changes do not apply, respring your device</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key> 
			<string>PSGroupCell</string>
			<key>footerText</key> 	
			<string>Developed with ♥ by @Thomz</string>
			<key>footerAlignment</key> 	
			<string>1</string>
		</dict>

	</array>
	<key>title</key>
	<string>UTrynaShutDown</string>
</dict>
</plist>
