<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!--<dict>
			<key>cell</key>
    		<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>label</key>
			<string>UTrynaShutDown</string>
			<key>packageIdentifier</key>
			<string>com.thomz.utrynashutdown</string>
			<key>backgroundGradientColors</key>
                <array>
                    <string>#ff5e6c</string>
                    <string>#ff4757</string>
                </array>
			<key>footerText</key>
			<string>Note: Respring is not required</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>CustomCell</string>
			<key>height</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Note: Respring is not required</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enable</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>isEnabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Show Nothing</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>showNothing</string>
			<key>sublabel</key>
			<string>Disable Power down menu and show nothing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alert Texts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Title Text</string>
			<key>key</key>
			<string>titleEnabled</string>
			<key>tag</key>
			<string>titleEnabled</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>textOne</string>
			<key>tag</key>
			<string>textOne</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Message Text</string>
			<key>key</key>
			<string>messageEnabled</string>
			<key>tag</key>
			<string>messageEnabled</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>textTwo</string>
			<key>tag</key>
			<string>textTwo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Dismiss Text</string>
			<key>key</key>
			<string>dismissEnabled</string>
			<key>tag</key>
			<string>dismissEnabled</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>key</key>
			<string>textThree</string>
			<key>tag</key>
			<string>textThree</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Emergency alert</string>
			<key>footerText</key>
			<string>Prevents the emergency SOS power down menu from showing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Disable the Emergency Alerts</string>
			<key>key</key>
			<string>emergencyAlert</string>
			<key>defaults</key>
			<string>com.thomz.utrynashutdown</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developers</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Thomz</string>
			<key>user</key>
			<string>Thomzi07</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>ExoticSwingset</string>
			<key>user</key>
			<string>ExoticSwingset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		<dict>
		    <key>cellClass</key>
		    <string>HBLinkTableCell</string>
		    <key>icon</key>
		    <string>github.png</string>
		    <key>label</key>
		    <string>Github</string>
		    <key>url</key>
		    <string>https://github.com/Thomz07/UTrynaShutDown</string>
			<key>subtitle</key>
    		<string>Check out Source Code</string>
		</dict>
		<dict>
			<key>cellClass</key>
		    <string>HBLinkTableCell</string>
		    <key>icon</key>
		    <string>icon.png</string>
		    <key>label</key>
		    <string>UTrynaShutDown</string>
		    <key>url</key>
		    <string>https://github.com/Thomz07/UTrynaShutDown</string>
			<key>subtitle</key>
    		<string>Check out Package Depiction</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Restore Preferences</string>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Are you sure you want to restore the preferences ?</string>
				<key>title</key>
				<string>Restore preferences</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
	</array>
	<key>title</key>
	<string>UTrynaShutDown</string>
</dict>
</plist>